<h1>여기는 수정하는 것입니다.</h1>

<form action="/update_result/<%= @update_post.id %>" method="POST"> <!--action="result //result로 글쓴것을 옮겨라--> <!--method = "POST" -->
    <br>제목 : <input type="text" name="title" value="<%= @update_post.title %>">
    <br>내용 : <input type="text" name="content"value="<%= @update_post.content %>">
    
    <br><input type="submit" value="글쓰기"> <!--게시글을 올리는 버튼-->
</form>
