<h1>여기는 게시판. 글쓰는 곳입니다.</h1>

<form action="result" method="POST"> <!--action="result //result로 글쓴것을 옮겨라--> <!--method = "POST" -->
    <br>제목 : <input type="text" name="title">
    <br>내용 : <input type="text" name="content">
    
    <br><input type="submit" value="글쓰기"> <!--게시글을 올리는 버튼-->
</form>
